// media query variables
$sm: 375px;
$med: 600px;
$lg: 1024px;
// color pallette
$white-transparent: rgba(255,255,255,0.6);
$black-transparent: rgba(0,0,0,0.75);
$gray-dark: #464646;
$gray-faint: #e6e6e6;
$orange: #e5b653;
$cyan: #42fff4;
$green: #9fd3a0;
$green-bright: #bfff59;
